<div class="widget-subscribe">
    <h6 class="widget-footer-title">Join me on the adventure</h6>
    <form action="https://tinyletter.com/monicawojciechowski" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/monicawojciechowski', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
        <input type="email" name="email" placeholder="Your email address" class="subscribe-input">
        <input type="hidden" value="1" name="embed"/>
        <input type="hidden" name="loc" value="en_US"/>
        <button type="submit" value="Subscribe" name="subscribe" class="subscribe-button">subscribe to newsletter</button>
    </form>
</div>