$blue : #0093b1;

.widget-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  border: 2px solid $blue;
  @media only screen and (max-width: 600px){
    width: 80%;
  }
  p {
    color: #000;
    font-size: 16px;
    width: 60%;

  }
  p:last-of-type {
    text-align: center;
    margin: 10px auto;
  }
  form {
    color: #000;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  margin-bottom: 1em;
}
.widget-footer-title {
  text-transform: uppercase;
  font-size: 14px;
  margin: 20px 0;
  font-weight: 700;
}

.subscribe-input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background-color: #fff;
  padding: 10px 40px 10px 10px;
  color: #999;
  font-size: 14px;
  line-height: normal;
  width: 58%;
  height: 40px;
}
.subscribe-button {
  text-transform: uppercase;
  width: 38%;
  height: 40px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background: #000;
  border: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 3px 0px 0px #148ea4;
  -moz-box-shadow: 0px 3px 0px 0px #148ea4;
  box-shadow: 0px 3px 0px 0px #148ea4;
  -webkit-transition: color 0.3s, background 0.3s, box-shadow 0.3s, border-color 0.3s;
  -moz-transition: color 0.3s, background 0.3s, box-shadow 0.3s, border-color 0.3s;
  transition: color 0.3s, background 0.3s, box-shadow 0.3s, border-color 0.3s;
}
.subscribe-button:hover {
  background: $blue;
  -webkit-box-shadow: 0px 3px 0px 0px #0F7183;
  -moz-box-shadow: 0px 3px 0px 0px #0F7183;
  box-shadow: 0px 3px 0px 0px #0F7183;
}

@function tab($item) {
  @return $item*20px;
}

@for $i from 1 through 4 {
  .widget-subscribe p:nth-of-type(#{$i}) {
    margin: 0;
    margin-left: tab($i)
  }
}